# DON'T FORGET TO RENAME TO .env OR .env.local BEFORE PUSHING TO GIT

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set for local development only

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://cloud.localhost:3000
 
### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set for local development and when deployed on Vercel

# Change this to your own domain
NEXT_PUBLIC_ROOT_DOMAIN=vercel.pub
NEXT_PUBLIC_DNS_DOMAIN=vercel-dns.com

# PostgreSQL database URL – get one here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Vercel Blob Storage for image uploads – currently in beta, please fill out this form for access: https://tally.so/r/nPDMNd. Setup instructions: https://vercel.com/docs/storage/vercel-blob/quickstart
BLOB_READ_WRITE_TOKEN=

# GitHub OAuth secrets for auth & login – generate these here: https://github-client-generator.vercel.app/
NEXTAUTH_SECRET=
NEXT_PUBLIC_AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Vercel authentication token that can be found here: https://vercel.com/account/tokens
AUTH_BEARER_TOKEN=
# Vercel Project ID that can be found here: https://vercel.com/<org>/<project>/settings
PROJECT_ID_VERCEL=
# Vercel Team ID that can be found here: https://vercel.com/teams/<org>/settings
# Only required if you're using this with a Vercel team
TEAM_ID_VERCEL=

# OpenAI API key for AI text generation – get one here: https://platform.openai.com/account/api-keys
# OPENAI_API_KEY=

# R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_KEY_ID=
R2_BUCKET_NAME=
NEXT_PUBLIC_R2_BUCKET_DOMAIN=

# GitHub
GITHUB_WEBHOOK_SECRET=
# For local development, use https://smee.io/ to proxy webhook deliveries to your local machine for development
GITHUB_WEBHOOK_URL=

# E2E tests
E2E_GH_USERNAME="datopian"
E2E_GH_REPOSITORY="datahub-cloud-test-repo"
# Set this if you want to run E2E tests on a specific site (ignore global setup in this case)
E2E_SITE_ID=
