### PRODUCTION & DEVELOPMENT VARIABLES

NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000
NEXT_PUBLIC_CLOUD_DOMAIN=cloud.localhost:3000
NEXT_PUBLIC_DNS_DOMAIN=vercel-dns.com
NEXT_PUBLIC_VERCEL_DEPLOYMENT_SUFFIX=vercel.app

POSTGRES_PRISMA_URL=postgresql://postgres@localhost:5432/<database-name>?schema=public&pgbouncer=true&connect_timeout=15
POSTGRES_URL_NON_POOLING=postgresql://postgres@localhost:5432/<database-name>?schema=public

# GitHub OAuth secrets for auth & login. You can generate these for development here: https://github-client-generator.vercel.app/
NEXTAUTH_SECRET=your_nextauth_secret
NEXT_PUBLIC_AUTH_GITHUB_ID=your_github_app_client_id
AUTH_GITHUB_SECRET=your_github_app_client_secret

# Secret used when creating webhooks in user repos
GH_WEBHOOK_SECRET=xxxxxxxxxxxx 
# GitHub webhooks handler
# GH_WEBHOOK_URL=https://cloud.flowershow.app/api/webhook
# For local testing, you can use https://smee.io/ to proxy webhook deliveries to your local machine for development
GH_WEBHOOK_URL=https://smee.io/xxxxxxxxxxxx
# smee -u https://smee.io/xxxxxxxxxxxx -t http://127.0.0.1:3000/api/webhook
# PAT (used for datahub project data request submissions)
GH_ACCESS_TOKEN=xxxxxxxxxxxx

# Vercel authentication token that can be generated here: https://vercel.com/account/tokens
AUTH_BEARER_TOKEN=your_vercel_account_token
# Vercel Project ID that can be found here: https://vercel.com/<org>/<project>/settings
PROJECT_ID_VERCEL=prj_xxxxxxxxxxxxxxxx
# Vercel Team ID that can be found here: https://vercel.com/<org>/~/settings
# Only required if you're using this with a Vercel team
TEAM_ID_VERCEL=team_xxxxxxxxxxxxxxxxx

# Google Tag Manager ID
GTM_ID=GTM-XXXXXXXXX

# S3-compatible Storage

# For local development (using MinIO)
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET_NAME=datahub
S3_REGION=us-east-1
S3_FORCE_PATH_STYLE=true
NEXT_PUBLIC_S3_BUCKET_DOMAIN=localhost:9000/datahub

# For production (using Cloudflare R2)
# S3_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
# S3_ACCESS_KEY_ID=your-r2-access-key-id
# S3_SECRET_ACCESS_KEY=your-r2-secret-access-key
# S3_BUCKET_NAME=your-production-bucket
# S3_REGION=auto
# S3_FORCE_PATH_STYLE=false
# NEXT_PUBLIC_S3_BUCKET_DOMAIN=

# Brevo
BREVO_API_KEY=abc
BREVO_CONTACT_LISTID=123

# Captcha - for local testing see: https://developers.cloudflare.com/turnstile/troubleshooting/testing/
NEXT_PUBLIC_TURNSTILE_SITE_KEY=3x00000000000000000000FF
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

# Inngest
INNGEST_APP_ID=my-app

# Application config file
APP_CONFIG_URL=https://r2-assets.flowershow.app/config.json

# Stripe
STRIPE_SECRET_KEY=abc
STRIPE_WEBHOOK_SECRET=abc
STRIPE_PREMIUM_MONTHLY_PRICE_ID=abc
STRIPE_PREMIUM_YEARLY_PRICE_ID=abc

# Typesense Search Configuration
TYPESENSE_ADMIN_API_KEY=xyz # with collections:create and collections:delete permissions on all collections
NEXT_PUBLIC_TYPESENSE_CLIENT_API_KEY=xyz # with documents:search permission on all collections
NEXT_PUBLIC_TYPESENSE_HOST=localhost
NEXT_PUBLIC_TYPESENSE_PORT=8108
NEXT_PUBLIC_TYPESENSE_PROTOCOL=http

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set for local development only

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://cloud.localhost:3000
 