openapi: 3.1.0
info:
  title: Flowershow REST API
  description: |
    Public REST API for Flowershow — a platform for publishing Obsidian vaults and markdown content as websites.

    ## Authentication

    The API supports three authentication methods depending on the endpoint:

    - **Bearer Token** — CLI tokens (`fs_cli_*`) or Personal Access Tokens (`fs_pat_*`) passed via `Authorization: Bearer <token>` header. Used by the CLI and Obsidian plugin.
    - **Session Cookie** — NextAuth session cookie for browser-based access. Used by the web dashboard.
    - **Webhook Signature** — HMAC-SHA256 signature verification for GitHub and Stripe webhooks.

    ### Obtaining a Bearer Token

    Use the [OAuth 2.0 Device Authorization Grant](https://datatracker.ietf.org/doc/html/rfc8628) flow:

    1. `POST /api/cli/device/authorize` → receive `device_code` + `user_code`
    2. User visits `verification_uri` and enters `user_code`
    3. Web UI calls `POST /api/cli/authorize` to approve
    4. CLI polls `POST /api/cli/device/token` → receives `access_token`
  version: 1.0.0
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://flowershow.app
    description: Production

tags:
  - name: CLI Auth
    description: OAuth 2.0 Device Authorization Grant flow for CLI and plugin authentication
  - name: User
    description: User profile and token management
  - name: Sites
    description: Site CRUD, file sync, and publishing
  - name: Anonymous Publishing
    description: Publish without authentication (limited to 5 files, expires in 7 days)
  - name: Site Access
    description: Password-protected site login/logout
  - name: GitHub App
    description: GitHub App installation management and OAuth callbacks
  - name: Webhooks
    description: Inbound webhooks from GitHub and Stripe
  - name: Domain
    description: Custom domain verification
  - name: SEO
    description: Sitemap and robots.txt generation

components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: |
        CLI token (`fs_cli_*`) or Personal Access Token (`fs_pat_*`).
        Obtain via the Device Authorization flow.
    sessionCookie:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: NextAuth JWT session cookie (browser-based access)
    githubWebhookSignature:
      type: apiKey
      in: header
      name: x-hub-signature-256
      description: HMAC-SHA256 signature of the request body
    stripeWebhookSignature:
      type: apiKey
      in: header
      name: Stripe-Signature
      description: Stripe webhook signature

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Machine-readable error code
        error_description:
          type: string
          description: Human-readable error message
        message:
          type: string
          description: Human-readable error message (alternative field used by some endpoints)

    User:
      type: object
      required: [id, username, role]
      properties:
        id:
          type: string
          description: CUID identifier
        name:
          type: [string, "null"]
          description: Display name
        username:
          type: string
          description: Unique username
        email:
          type: [string, "null"]
          description: Email address
        image:
          type: [string, "null"]
          description: Profile image URL
        role:
          type: string
          enum: [USER, ADMIN]

    SiteSummary:
      type: object
      required: [id, projectName, url]
      properties:
        id:
          type: string
        projectName:
          type: string
        url:
          type: string
          format: uri
        fileCount:
          type: integer
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    SiteDetail:
      type: object
      required: [id, projectName, url]
      properties:
        id:
          type: string
        projectName:
          type: string
        ghRepository:
          type: [string, "null"]
        ghBranch:
          type: [string, "null"]
        customDomain:
          type: [string, "null"]
        rootDir:
          type: [string, "null"]
        autoSync:
          type: boolean
        plan:
          type: string
          enum: [FREE, PREMIUM]
        privacyMode:
          type: string
          enum: [PUBLIC, PASSWORD]
        enableComments:
          type: boolean
        enableSearch:
          type: boolean
        syntaxMode:
          type: string
        url:
          type: string
          format: uri
        fileCount:
          type: integer
        totalSize:
          type: integer
          description: Total size of all files in bytes
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    FileMetadata:
      type: object
      required: [path, size, sha]
      properties:
        path:
          type: string
          description: File path relative to project root
        size:
          type: integer
          description: File size in bytes (max 100 MB)
          maximum: 104857600
        sha:
          type: string
          description: SHA hash of the file content

    UploadTarget:
      type: object
      required: [path, uploadUrl, blobId, contentType]
      properties:
        path:
          type: string
        uploadUrl:
          type: string
          format: uri
          description: Presigned S3/R2 upload URL
        blobId:
          type: string
          description: Database blob ID
        contentType:
          type: string

    SyncResponse:
      type: object
      required: [toUpload, toUpdate, deleted, unchanged, summary]
      properties:
        toUpload:
          type: array
          items:
            $ref: "#/components/schemas/UploadTarget"
          description: New files that need uploading
        toUpdate:
          type: array
          items:
            $ref: "#/components/schemas/UploadTarget"
          description: Modified files that need re-uploading
        deleted:
          type: array
          items:
            type: string
          description: Paths of files deleted from server
        unchanged:
          type: array
          items:
            type: string
          description: Paths of files that match (same SHA)
        summary:
          type: object
          required: [toUpload, toUpdate, deleted, unchanged]
          properties:
            toUpload:
              type: integer
            toUpdate:
              type: integer
            deleted:
              type: integer
            unchanged:
              type: integer
        dryRun:
          type: boolean
          description: Present and true only in dry-run mode

    BlobStatus:
      type: object
      required: [id, path, syncStatus]
      properties:
        id:
          type: string
        path:
          type: string
        syncStatus:
          type: string
          enum: [UPLOADING, PROCESSING, SUCCESS, ERROR]
        syncError:
          type: [string, "null"]
        extension:
          type: [string, "null"]

    StatusResponse:
      type: object
      required: [siteId, status, files]
      properties:
        siteId:
          type: string
        status:
          type: string
          enum: [pending, complete, error]
        files:
          type: object
          required: [total, pending, success, failed]
          properties:
            total:
              type: integer
            pending:
              type: integer
            success:
              type: integer
            failed:
              type: integer
        blobs:
          type: array
          items:
            $ref: "#/components/schemas/BlobStatus"

    PublicStatusResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [pending, complete, error]
        errors:
          type: array
          description: Present only when status is "error"
          items:
            type: object
            required: [path, error]
            properties:
              path:
                type: string
              error:
                type: string

    GitHubInstallation:
      type: object
      required: [id, installationId, accountLogin, accountType, repositories, createdAt, updatedAt]
      properties:
        id:
          type: string
          description: Database record ID (CUID)
        installationId:
          type: string
          description: GitHub installation ID (BigInt serialized as string)
        accountLogin:
          type: string
          description: GitHub account login
        accountType:
          type: string
          enum: [User, Organization]
        repositories:
          type: array
          items:
            type: object
            required: [id, repositoryId, name, fullName, isPrivate]
            properties:
              id:
                type: string
              repositoryId:
                type: string
              name:
                type: string
              fullName:
                type: string
              isPrivate:
                type: boolean
        suspendedAt:
          type: [string, "null"]
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    DomainVerification:
      type: object
      required: [status, domainJson]
      properties:
        status:
          type: string
          enum:
            - Valid Configuration
            - Invalid Configuration
            - Pending Verification
            - Domain Not Found
            - Unknown Error
        domainJson:
          type: object
          required: [name, apexName, projectId, verified, verification]
          properties:
            name:
              type: string
            apexName:
              type: string
            projectId:
              type: string
            redirect:
              type: [string, "null"]
            redirectStatusCode:
              type: [integer, "null"]
              enum: [301, 302, 307, 308, null]
            gitBranch:
              type: [string, "null"]
            updatedAt:
              type: integer
            createdAt:
              type: integer
            verified:
              type: boolean
            verification:
              type: array
              items:
                type: object
                required: [type, domain, value, reason]
                properties:
                  type:
                    type: string
                  domain:
                    type: string
                  value:
                    type: string
                  reason:
                    type: string
            error:
              type: object
              properties:
                code:
                  type: string
                message:
                  type: string

  parameters:
    siteId:
      name: siteId
      in: path
      required: true
      schema:
        type: string
      description: The site ID

    cliVersion:
      name: X-Flowershow-CLI-Version
      in: header
      required: false
      schema:
        type: string
      description: |
        CLI version string. If present and below the minimum required version,
        the server returns 426 Upgrade Required.

  responses:
    Unauthorized:
      description: Not authenticated
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: unauthorized
            message: Not authenticated

    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: forbidden
            message: You do not have access to this site

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: not_found
            message: Site not found

    UpgradeRequired:
      description: CLI version outdated
      content:
        application/json:
          schema:
            type: object
            required: [error, message, currentVersion, minimumVersion]
            properties:
              error:
                type: string
                const: client_outdated
              message:
                type: string
              currentVersion:
                type: string
              minimumVersion:
                type: string

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

paths:
  # ──────────────────────────────────────────────
  # CLI Auth (Device Authorization Grant)
  # ──────────────────────────────────────────────

  /api/cli/device/authorize:
    post:
      operationId: deviceAuthorize
      summary: Start device authorization flow
      description: |
        Initiates the OAuth 2.0 Device Authorization Grant (RFC 8628).
        Returns a device code for CLI polling and a user code for browser verification.
      tags: [CLI Auth]
      security: []
      responses:
        "200":
          description: Device code issued
          content:
            application/json:
              schema:
                type: object
                required: [device_code, user_code, verification_uri, verification_uri_complete, expires_in, interval]
                properties:
                  device_code:
                    type: string
                    description: Cryptographic secret for CLI polling (~40 chars, base64url)
                  user_code:
                    type: string
                    description: Human-readable code for the user to enter (format XXXX-XXXX)
                    pattern: "^[A-Z2-9]{4}-[A-Z2-9]{4}$"
                  verification_uri:
                    type: string
                    format: uri
                    description: URL where the user enters the code
                  verification_uri_complete:
                    type: string
                    format: uri
                    description: URL with the user code pre-filled
                  expires_in:
                    type: integer
                    description: Code lifetime in seconds
                    example: 900
                  interval:
                    type: integer
                    description: Minimum polling interval in seconds
                    example: 5
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Failed to generate device code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/cli/device/token:
    post:
      operationId: deviceToken
      summary: Exchange device code for access token
      description: |
        CLI polls this endpoint to exchange an authorized device code for a Bearer access token.
        Poll at the interval specified by `/api/cli/device/authorize`. The device code is single-use.
      tags: [CLI Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_code, grant_type]
              properties:
                device_code:
                  type: string
                  description: Device code from `/api/cli/device/authorize`
                grant_type:
                  type: string
                  const: "urn:ietf:params:oauth:grant-type:device_code"
      responses:
        "200":
          description: Access token issued
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, expires_in]
                properties:
                  access_token:
                    type: string
                    description: "Bearer token (prefix: fs_cli_)"
                  token_type:
                    type: string
                    const: Bearer
                  expires_in:
                    type: "null"
                    description: CLI tokens do not expire
        "400":
          description: Invalid request or pending authorization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                authorization_pending:
                  summary: User has not yet authorized
                  value:
                    error: authorization_pending
                expired_token:
                  summary: Device code expired
                  value:
                    error: expired_token
                    error_description: The device code has expired
                invalid_grant:
                  summary: Invalid device code
                  value:
                    error: invalid_grant
                    error_description: Invalid device code
                unsupported_grant_type:
                  summary: Wrong grant_type value
                  value:
                    error: unsupported_grant_type
        "500":
          $ref: "#/components/responses/InternalError"

  /api/cli/authorize:
    post:
      operationId: authorizeDevice
      summary: Approve a device code (web UI)
      description: |
        Called by the web UI after the user enters the verification code.
        Authorizes the pending device code so the CLI can obtain an access token.
      tags: [CLI Auth]
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_code]
              properties:
                user_code:
                  type: string
                  description: Human-readable code (e.g. "ABCD-1234")
      responses:
        "200":
          description: Device code authorized
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success:
                    type: boolean
                    const: true
        "400":
          description: Invalid or expired code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # User & Tokens
  # ──────────────────────────────────────────────

  /api/user:
    get:
      operationId: getUser
      summary: Get current user
      description: |
        Returns the authenticated user's profile. Accepts both Bearer token
        and session cookie authentication.
      tags: [User]
      security:
        - bearerToken: []
        - sessionCookie: []
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/tokens/revoke:
    post:
      operationId: revokeToken
      summary: Revoke an access token
      description: |
        Deletes an access token. The token must belong to the authenticated user.
        Only accepts session cookie authentication (not Bearer tokens).
      tags: [User]
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token_id]
              properties:
                token_id:
                  type: string
                  description: Database ID (CUID) of the AccessToken to revoke
      responses:
        "200":
          description: Token revoked
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success:
                    type: boolean
                    const: true
        "400":
          description: Missing token_id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Sites
  # ──────────────────────────────────────────────

  /api/sites:
    post:
      operationId: createSite
      summary: Create a new site
      description: |
        Creates a new site for direct publishing (CLI, Obsidian plugin).
        The project name is sanitized to lowercase alphanumeric, hyphens, and underscores.
      tags: [Sites]
      security:
        - bearerToken: []
      parameters:
        - $ref: "#/components/parameters/cliVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [projectName]
              properties:
                projectName:
                  type: string
                  description: Site project name (1-100 chars after sanitization)
                  minLength: 1
                  maxLength: 100
                overwrite:
                  type: boolean
                  default: false
                  description: If true and site exists, deletes all blobs and updates the site
      responses:
        "201":
          description: Site created
          content:
            application/json:
              schema:
                type: object
                required: [site]
                properties:
                  site:
                    type: object
                    required: [id, projectName, url, userId, createdAt]
                    properties:
                      id:
                        type: string
                      projectName:
                        type: string
                      url:
                        type: string
                        format: uri
                      userId:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
        "200":
          description: Site overwritten (when overwrite=true and site existed)
          content:
            application/json:
              schema:
                type: object
                required: [site]
                properties:
                  site:
                    type: object
                    required: [id, projectName, url, userId, createdAt]
                    properties:
                      id:
                        type: string
                      projectName:
                        type: string
                      url:
                        type: string
                        format: uri
                      userId:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
        "400":
          description: Invalid project name or user has no username
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Site already exists (and overwrite is false)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: site_exists
                message: Site already exists
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listSites
      summary: List user's sites
      tags: [Sites]
      security:
        - bearerToken: []
      parameters:
        - $ref: "#/components/parameters/cliVersion"
      responses:
        "200":
          description: List of sites
          content:
            application/json:
              schema:
                type: object
                required: [sites, total]
                properties:
                  sites:
                    type: array
                    items:
                      $ref: "#/components/schemas/SiteSummary"
                  total:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/sites/id/{siteId}:
    get:
      operationId: getSite
      summary: Get site details
      tags: [Sites]
      security:
        - bearerToken: []
      parameters:
        - $ref: "#/components/parameters/siteId"
        - $ref: "#/components/parameters/cliVersion"
      responses:
        "200":
          description: Site details
          content:
            application/json:
              schema:
                type: object
                required: [site]
                properties:
                  site:
                    $ref: "#/components/schemas/SiteDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteSite
      summary: Delete a site
      description: Deletes a site and all its content from R2 storage and the database.
      tags: [Sites]
      security:
        - bearerToken: []
      parameters:
        - $ref: "#/components/parameters/siteId"
        - $ref: "#/components/parameters/cliVersion"
      responses:
        "200":
          description: Site deleted
          content:
            application/json:
              schema:
                type: object
                required: [success, message, deletedFiles]
                properties:
                  success:
                    type: boolean
                    const: true
                  message:
                    type: string
                  deletedFiles:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/sites/id/{siteId}/sync:
    post:
      operationId: syncSite
      summary: Sync files to a site
      description: |
        Unified sync endpoint. Compares a local file manifest with the server state
        and returns presigned upload URLs for new/modified files. Removes files not
        present in the manifest. Supports dry-run mode.

        **Limits:** max 1000 files, 100 MB per file, 500 MB total.
      tags: [Sites]
      security:
        - bearerToken: []
      parameters:
        - $ref: "#/components/parameters/siteId"
        - $ref: "#/components/parameters/cliVersion"
        - name: dryRun
          in: query
          required: false
          schema:
            type: string
            enum: ["true"]
          description: If "true", returns what would happen without making changes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [files]
              properties:
                files:
                  type: array
                  items:
                    $ref: "#/components/schemas/FileMetadata"
                  maxItems: 1000
      responses:
        "200":
          description: Sync result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncResponse"
        "400":
          description: Invalid request (missing or malformed files array)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "413":
          description: Payload too large (too many files or total size exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                too_many_files:
                  value:
                    error: payload_too_large
                    message: Maximum 1000 files per request
                file_too_large:
                  value:
                    error: file_too_large
                    message: File exceeds maximum size of 100 MB
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/sites/id/{siteId}/files:
    post:
      operationId: publishFiles
      summary: Publish specific files
      description: |
        Additive file publishing — returns presigned upload URLs for the given files
        without affecting other files on the site. Unlike `/sync`, does not delete
        files missing from the manifest.

        **Limits:** max 1000 files, 100 MB per file, 500 MB total.
      tags: [Sites]
      security:
        - bearerToken: []
      parameters:
        - $ref: "#/components/parameters/siteId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [files]
              properties:
                files:
                  type: array
                  items:
                    $ref: "#/components/schemas/FileMetadata"
                  minItems: 1
                  maxItems: 1000
      responses:
        "200":
          description: Upload URLs for each file
          content:
            application/json:
              schema:
                type: object
                required: [files]
                properties:
                  files:
                    type: array
                    items:
                      $ref: "#/components/schemas/UploadTarget"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "413":
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteFiles
      summary: Delete specific files
      description: Unpublish specific files from a site (removes from R2 storage and database).
      tags: [Sites]
      security:
        - bearerToken: []
      parameters:
        - $ref: "#/components/parameters/siteId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [paths]
              properties:
                paths:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 1000
                  description: File paths to delete
      responses:
        "200":
          description: Deletion result
          content:
            application/json:
              schema:
                type: object
                required: [deleted, notFound]
                properties:
                  deleted:
                    type: array
                    items:
                      type: string
                    description: Paths that were successfully deleted
                  notFound:
                    type: array
                    items:
                      type: string
                    description: Paths that did not exist on the server
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "413":
          description: Too many paths
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/sites/id/{siteId}/status:
    get:
      operationId: getSiteStatus
      summary: Get file processing status
      description: |
        Polling endpoint for file processing status. Returns different response
        shapes depending on authentication:
        - **Authenticated (owner):** Detailed blob-level status with sync errors
        - **Unauthenticated:** Simple overall status (pending/complete/error)
      tags: [Sites]
      security:
        - bearerToken: []
        - {}
      parameters:
        - $ref: "#/components/parameters/siteId"
        - $ref: "#/components/parameters/cliVersion"
      responses:
        "200":
          description: Processing status
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/StatusResponse"
                    description: Authenticated owner response
                  - $ref: "#/components/schemas/PublicStatusResponse"
                    description: Unauthenticated response
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Anonymous Publishing
  # ──────────────────────────────────────────────

  /api/sites/publish-anon:
    post:
      operationId: publishAnonymous
      summary: Publish anonymously
      description: |
        Create an anonymous site without authentication. Returns presigned upload URLs.
        Sites expire in 7 days if not claimed. Rate-limited to 10 requests per hour per IP.

        **Limits:** max 5 files, at least one .md/.mdx file required.
      tags: [Anonymous Publishing]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [files, anonymousUserId]
              properties:
                files:
                  type: array
                  minItems: 1
                  maxItems: 5
                  items:
                    type: object
                    required: [fileName, fileSize, sha]
                    properties:
                      fileName:
                        type: string
                        description: File name with extension
                      fileSize:
                        type: integer
                        description: File size in bytes (> 0, max 100 MB)
                        minimum: 1
                        maximum: 104857600
                      sha:
                        type: string
                        description: SHA hash of the file content
                anonymousUserId:
                  type: string
                  format: uuid
                  description: Client-generated persistent browser ID (UUID v4)
      responses:
        "200":
          description: Anonymous site created with upload URLs
          content:
            application/json:
              schema:
                type: object
                required: [siteId, projectName, files, liveUrl, ownershipToken]
                properties:
                  siteId:
                    type: string
                  projectName:
                    type: string
                  files:
                    type: array
                    items:
                      type: object
                      required: [fileName, uploadUrl]
                      properties:
                        fileName:
                          type: string
                        uploadUrl:
                          type: string
                          format: uri
                  liveUrl:
                    type: string
                    description: "Live URL path (e.g. /@anon/project-name)"
                  ownershipToken:
                    type: string
                    description: JWT for claiming the site later (30-day expiry)
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
        "429":
          description: Rate limit exceeded (>10 requests/hour from same IP)
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: Rate limit exceeded. Please try again later.
        "500":
          $ref: "#/components/responses/InternalError"

  /api/sites/claim:
    post:
      operationId: claimSite
      summary: Claim an anonymous site
      description: |
        Transfer ownership of an anonymous site to the authenticated user.
        Requires the ownership token received from `POST /api/sites/publish-anon`.
      tags: [Anonymous Publishing]
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId, ownershipToken]
              properties:
                siteId:
                  type: string
                  description: ID of the anonymous site to claim
                ownershipToken:
                  type: string
                  description: JWT ownership token from publish-anon
      responses:
        "200":
          description: Site claimed
          content:
            application/json:
              schema:
                type: object
                required: [success, site]
                properties:
                  success:
                    type: boolean
                    const: true
                  site:
                    type: object
                    required: [id, projectName, userId]
                    properties:
                      id:
                        type: string
                      projectName:
                        type: string
                      userId:
                        type: string
        "400":
          description: Missing fields or site is not anonymous
          content:
            application/json:
              schema:
                type: object
                required: [success, error]
                properties:
                  success:
                    type: boolean
                    const: false
                  error:
                    type: string
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                type: object
                required: [success, error]
                properties:
                  success:
                    type: boolean
                    const: false
                  error:
                    type: string
                    example: Authentication required
        "403":
          description: Invalid ownership token or verification failed
          content:
            application/json:
              schema:
                type: object
                required: [success, error]
                properties:
                  success:
                    type: boolean
                    const: false
                  error:
                    type: string
        "404":
          description: Site not found
          content:
            application/json:
              schema:
                type: object
                required: [success, error]
                properties:
                  success:
                    type: boolean
                    const: false
                  error:
                    type: string
                    example: Site not found
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Site Access (Password-Protected Sites)
  # ──────────────────────────────────────────────

  /api/sites/id/{siteId}/login:
    post:
      operationId: siteLogin
      summary: Log in to a password-protected site
      description: |
        Authenticate a visitor to a password-protected site. Sets an httpOnly JWT cookie
        (`site_access_{siteId}`) valid for 7 days, scoped to the site's path or custom domain.
      tags: [Site Access]
      security: []
      parameters:
        - $ref: "#/components/parameters/siteId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  description: The site access password
      responses:
        "200":
          description: Login successful (sets httpOnly cookie)
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success:
                    type: boolean
                    const: true
        "400":
          description: Invalid site (not found, not password-protected, or misconfigured)
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: Invalid site
        "401":
          description: Wrong password
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: Wrong password

  /api/sites/id/{siteId}/logout:
    post:
      operationId: siteLogout
      summary: Log out of a password-protected site
      description: Clears the site access cookie.
      tags: [Site Access]
      security: []
      parameters:
        - $ref: "#/components/parameters/siteId"
      responses:
        "200":
          description: Logout successful (clears cookie)
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success:
                    type: boolean
                    const: true
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ──────────────────────────────────────────────
  # Site Lookup by Username/Project
  # ──────────────────────────────────────────────

  /api/sites/{username}/{projectname}:
    get:
      operationId: lookupSite
      summary: Look up a site by username and project name
      description: |
        Resolve a site by its owner and project name. Supports three lookup modes:
        - `username` = a real username: looks up by user + project name
        - `username` = `"anon"`: looks up anonymous sites
        - `username` = `"_domain"`: looks up by custom domain (projectname = domain)

        Response shape varies based on authentication and ownership.
      tags: [Sites]
      security:
        - bearerToken: []
        - {}
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: "Username, \"anon\", or \"_domain\""
        - name: projectname
          in: path
          required: true
          schema:
            type: string
          description: Project name or custom domain
      responses:
        "200":
          description: Site found
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    required: [site]
                    properties:
                      site:
                        $ref: "#/components/schemas/SiteDetail"
                    description: Authenticated owner response
                  - type: object
                    description: Internal site object (unauthenticated or non-owner)
        "404":
          description: Site not found
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    example: Not found

  # ──────────────────────────────────────────────
  # GitHub App
  # ──────────────────────────────────────────────

  /api/github-app/installations:
    get:
      operationId: listInstallations
      summary: List GitHub App installations
      description: Returns all GitHub App installations for the authenticated user with their repositories.
      tags: [GitHub App]
      security:
        - sessionCookie: []
      responses:
        "200":
          description: List of installations
          content:
            application/json:
              schema:
                type: object
                required: [installations]
                properties:
                  installations:
                    type: array
                    items:
                      $ref: "#/components/schemas/GitHubInstallation"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/github-app/installations/{id}:
    delete:
      operationId: deleteInstallation
      summary: Remove a GitHub App installation
      description: Deletes a GitHub App installation record. Must be owned by the authenticated user.
      tags: [GitHub App]
      security:
        - sessionCookie: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Database record ID of the GitHubInstallation
      responses:
        "200":
          description: Installation deleted
          content:
            application/json:
              schema:
                type: object
                required: [success, message]
                properties:
                  success:
                    type: boolean
                    const: true
                  message:
                    type: string
        "400":
          description: Missing installation ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/github-app/installation-url:
    post:
      operationId: getInstallationUrl
      summary: Generate GitHub App installation URL
      description: |
        Generates a URL to install the Flowershow GitHub App. The URL includes
        a signed JWT state parameter (15-minute expiry) for the OAuth callback.
      tags: [GitHub App]
      security:
        - sessionCookie: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                suggestedTargetId:
                  type: string
                  description: GitHub user/org ID to pre-select in the install flow
      responses:
        "200":
          description: Installation URL generated
          content:
            application/json:
              schema:
                type: object
                required: [url, state]
                properties:
                  url:
                    type: string
                    format: uri
                    description: GitHub App installation URL with state parameter
                  state:
                    type: string
                    description: Signed JWT (15-minute expiry)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/github-app/sync-repositories:
    post:
      operationId: syncRepositories
      summary: Sync repositories from a GitHub App installation
      description: Fetches the latest repository list from GitHub for an installation and updates the database.
      tags: [GitHub App]
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [installationId]
              properties:
                installationId:
                  type: string
                  description: Database record ID of the GitHubInstallation
      responses:
        "200":
          description: Repositories synced
          content:
            application/json:
              schema:
                type: object
                required: [success, repositoriesCount]
                properties:
                  success:
                    type: boolean
                    const: true
                  repositoriesCount:
                    type: integer
        "400":
          description: Missing installationId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Installation not found or not owned by user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/github-app/callback:
    get:
      operationId: githubAppCallback
      summary: GitHub App OAuth callback
      description: |
        Handles the OAuth callback after a user installs or updates the GitHub App.
        Verifies the JWT state token, creates/updates the installation record, and
        redirects to the success page. All responses are 302 redirects.
      tags: [GitHub App]
      security: []
      parameters:
        - name: installation_id
          in: query
          required: true
          schema:
            type: string
          description: GitHub App installation ID
        - name: setup_action
          in: query
          schema:
            type: string
            enum: [install, update]
          description: Whether this is a new install or an update
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: Signed JWT state token from installation-url endpoint
      responses:
        "200":
          description: Redirect completed (not typically seen by API clients)
        "302":
          description: Redirect to success page or error page
        "400":
          description: Missing installation_id or state parameter (redirects to error page)

  /api/github-app/callback-success:
    get:
      operationId: githubAppCallbackSuccess
      summary: GitHub App installation success page
      description: |
        Returns an HTML page that communicates the installation result back to the
        opener window via postMessage, then redirects appropriately.
      tags: [GitHub App]
      security: []
      parameters:
        - name: setup_action
          in: query
          schema:
            type: string
            enum: [install, update]
            default: install
      responses:
        "200":
          description: HTML success page
          content:
            text/html:
              schema:
                type: string
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ──────────────────────────────────────────────
  # Webhooks
  # ──────────────────────────────────────────────

  /api/webhooks/github-app:
    post:
      operationId: githubAppWebhook
      summary: GitHub App webhook
      description: |
        Receives webhook events from the Flowershow GitHub App. Handles installation
        lifecycle events and push events (triggers auto-sync for connected sites).
      tags: [Webhooks]
      security:
        - githubWebhookSignature: []
      parameters:
        - name: x-github-event
          in: header
          required: true
          schema:
            type: string
            enum: [installation, installation_repositories, push, ping]
          description: GitHub event type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                installation:
                  type: object
                  properties:
                    id:
                      type: integer
                    account:
                      type: object
                      properties:
                        id:
                          type: integer
                        login:
                          type: string
                        type:
                          type: string
                          enum: [User, Organization]
                    suspended_at:
                      type: [string, "null"]
                    suspended_by:
                      type: [string, "null"]
                repositories:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      full_name:
                        type: string
                      private:
                        type: boolean
                repositories_added:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      full_name:
                        type: string
                      private:
                        type: boolean
                repositories_removed:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      full_name:
                        type: string
                      private:
                        type: boolean
                ref:
                  type: string
                  description: "Push events: git ref (e.g. refs/heads/main)"
                repository:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    full_name:
                      type: string
                    private:
                      type: boolean
      responses:
        "200":
          description: Webhook processed
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success:
                    type: boolean
                    const: true
        "401":
          description: Missing or invalid signature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/webhook:
    post:
      operationId: legacyWebhook
      summary: Legacy GitHub webhook (deprecated)
      description: |
        **Deprecated.** Legacy webhook endpoint for GitHub OAuth-based sites.
        Use `/api/webhooks/github-app` for new integrations.
      tags: [Webhooks]
      deprecated: true
      security:
        - githubWebhookSignature: []
      parameters:
        - name: x-github-event
          in: header
          required: true
          schema:
            type: string
        - name: x-hub-signature
          in: header
          required: true
          schema:
            type: string
          description: "HMAC-SHA256 signature (sha256=<hex>)"
        - name: x-github-hook-id
          in: header
          schema:
            type: string
          description: Legacy webhook ID for backwards compat
        - name: siteid
          in: query
          schema:
            type: string
          description: Site ID (falls back to x-github-hook-id if absent)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref:
                  type: string
      responses:
        "200":
          description: Event processed
          content:
            text/plain:
              schema:
                type: string
                example: Event processed
        "401":
          description: Invalid signature
          content:
            text/plain:
              schema:
                type: string
        "404":
          description: Site not found or incorrect branch
          content:
            text/plain:
              schema:
                type: string

  /api/stripe/webhook:
    post:
      operationId: stripeWebhook
      summary: Stripe webhook
      description: |
        Receives Stripe webhook events for subscription lifecycle management.
        Handles checkout completion, subscription updates, and cancellations.
      tags: [Webhooks]
      security:
        - stripeWebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Stripe event payload (verified via Stripe-Signature header)
      responses:
        "200":
          description: Event received
          content:
            application/json:
              schema:
                type: object
                required: [received]
                properties:
                  received:
                    type: boolean
                    const: true
        "400":
          description: Signature verification failed
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message:
                    type: string
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Domain Verification
  # ──────────────────────────────────────────────

  /api/domain/{domain}/verify:
    get:
      operationId: verifyDomain
      summary: Verify custom domain DNS configuration
      description: Checks the DNS configuration status of a custom domain.
      tags: [Domain]
      security: []
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
          description: Domain name to verify
      responses:
        "200":
          description: Domain verification status
          headers:
            Cache-Control:
              schema:
                type: string
                example: "no-store, max-age=0"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainVerification"
        "404":
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ──────────────────────────────────────────────
  # SEO
  # ──────────────────────────────────────────────

  /api/sitemap/{user}/{project}:
    get:
      operationId: getSitemap
      summary: Generate XML sitemap
      description: |
        Generates an XML sitemap for a site. Includes only successfully synced
        markdown files (.md, .mdx).
      tags: [SEO]
      security: []
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
          description: Username of the site owner
        - name: project
          in: path
          required: true
          schema:
            type: string
          description: Project name
      responses:
        "200":
          description: XML sitemap
          content:
            application/xml:
              schema:
                type: string
        "404":
          description: Site not found
          content:
            text/plain:
              schema:
                type: string
                example: Not found

  /api/robots/{hostname}:
    get:
      operationId: getRobotsTxt
      summary: Generate robots.txt
      description: Generates a robots.txt file for a site with a custom domain.
      tags: [SEO]
      security: []
      parameters:
        - name: hostname
          in: path
          required: true
          schema:
            type: string
          description: Custom domain hostname
      responses:
        "200":
          description: robots.txt content
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # https://example.com
                  User-agent: *
                  Allow: /
                  Disallow: /api/

                  Sitemap: https://example.com/sitemap.xml
        "404":
          description: Site not found
          content:
            text/plain:
              schema:
                type: string
                example: Not found
