@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) { */
/*   body { */
/*     background-color: #000000; */
/*   } */
/* } */

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* Custom image styles */
.ProseMirror img {
  transition: filter 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  &.ProseMirror-selectednode {
    outline: 3px solid #5abbf7;
    filter: brightness(90%);
  }
}

/* smooth scrolling in modern browsers */
html {
  scroll-behavior: smooth !important;
}

/* Heading links with # icons on hover */
.unstyled .heading-link {
  visibility: hidden;
}

#mdxpage {
  min-height: 55vh;
}

#mdx-live-preview .heading-link {
  display: none;
}

/* :not(.unstyled) :is(h2, h3, h4, h5, h6):not(.blogitem-title) { */
#mdxpage :is(h2, h3, h4, h5, h6) {
  margin-left: -2rem !important;
  padding-left: 2rem !important;
  scroll-margin-top: 4.5rem;
  position: relative;
}

#mdxpage .heading-link {
  padding: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 0;
  border-radius: 5px;
  background: #e2e8f0;
  opacity: 0;
  transition: opacity 0.2s;
}

#mdxpage :is(h2, h3, h4, h5, h6):hover .heading-link {
  opacity: 100;
}

#mdxpage .heading-link svg {
  transform: scale(0.75);
}

@media screen and (max-width: 640px) {
  #mdxpage .heading-link {
    visibility: hidden;
  }
}

/* Hide second h1 on any page */
#mdxpage section:first-of-type h1:first-child {
  display: none;
}

#mdxpage .gh-badge {
  display: none;
}

input[type="checkbox"] {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
