name: Unit Tests
on: [push]
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [16, 18]

    name: Node ${{ matrix.node }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Run unit tests
      run: npm run test
